{% extends "base.html" %}
{% block content %}

<section class="products-section">
  <div class="form-wrapper">
    <div class="confirm-card">
      <h2>Are You Sure You Want To Delete This Tweet..?</h2>

      <form method="POST">
        {% csrf_token %}
        <div class="form-actions">
          <button type="submit" class="btn-delete"><i class="bi bi-trash"></i> Delete</button>
          <a href="{% url 'tweet_list' %}" class="btn-edit"><i class="bi bi-arrow-left"></i> Back</a>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
